.actions {
  position: relative;
  border: 2px solid red;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0 45px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 15px;
  }
}
