.advantages {
  background-color: $bg-gray;
  width: 100%;
  padding: 120px 0;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding: 100px 0 50px;
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0 50px;
  }
}

.advantages__container {
  max-width: 1160px;
  margin: 0 auto;
}

.advantages__headline {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: $bebas-bold;
  font-weight: normal;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 32px;
  }
}

.advantages__wrapper {
  min-height: 307px;
}

.advantages__list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style: none;
  margin: 0;
  height: 152px;
  padding: 0;
  padding-top: 5px;
  flex-wrap: wrap;
  width: 346px;  

  &:nth-child(1),
  &:nth-child(4) {
    margin-right: 360px;
    padding-left: 25px;
  }

  &:nth-child(1) {    
    padding-left: 30px;
  }

  &:nth-child(4),
  &:nth-child(5) {
    padding-top: 77px;
  }

  &:nth-child(1),
  &:nth-child(2) {
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
    // padding-bottom: 156px;
    min-height: 165px;
    
  } 

  @media (max-width: $tablet-width) {
    padding: 50px 10px;
    height: 240px;

    &:nth-child(1),
    &:nth-child(4) {
      margin-right: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 20px 10px;
    width: 100%;
    text-align: center;

    &:nth-child(1),
    &:nth-child(2) {
      padding-bottom: 50px;
      padding-top: 0;
    }

    &:nth-child(4),
    &:nth-child(5) {
      padding-top: 50px;
      padding-bottom: 0;
    }
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: $roboto-bold;
  font-weight: normal;
  font-size: 22px;
  color: $blue-dark;
}

.advantages__item p {
  margin: 0;
  font-family: $roboto-light;
  font-size: 16px;
  line-height: 22px;
  color: $blue-dark;
}

.advantages__img-container {
  margin-right: 30px;
  height: 100px;
  float: left;

  @media (max-width: $mobile-width) {
    float: none;
    height: 90px;
    margin: 0 auto;
  }
}

.advantages__img {
  display: block;
  height: 75px;   
  background-repeat: no-repeat;
  background-size: contain;

  &--900 {
    background-image: url("../img/900.svg");
    width: 108px;    

    @media (max-width: $mobile-width) {
      background-image: url("../img/900-mobile.svg");
    }    
  }

  &--70 {  
    background-image: url("../img/70.svg");
    width: 72px;

    @media (max-width: $mobile-width) {
      background-image: url("../img/70-mobile.svg");
    }    
  }

  &--350 {
    background-image: url("../img/350.svg");
    width: 108px;

    @media (max-width: $mobile-width) {
      background-image: url("../img/350-mobile.svg");
    }    
  }

  &--5 {
    background-image: url("../img/5+.svg");
    width: 70px;

    @media (max-width: $mobile-width) {
      background-image: url("../img/5+-mobile.svg");
    }    
  }

  @media (max-width: $mobile-width) {
    float: none;
    margin: 0 auto;
  }
}

.advantages__item--center {
  padding: 0;
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 150px);
  width: 240px;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-width) {
    position: static;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    background-color: $blue-deep;
  }
}

.advantages__item--center h3 {
  font-style: $roboto-bold;
  font-weight: normal;
  font-size: 74px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 15px;
  color: $white;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.advantages__item--center p {
  color: $white;
}

.advantages__item--center span {
  display: block;
  font-family: $roboto-bold;
  font-weight: normal;
  font-size: 26px;
  line-height: 60px;
}

.advantages__item-center-container {
  position: relative;
  background-color: $blue-deep;
  min-height: 307px;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    min-height: 239px;
    margin: 0 auto;
    width: 442px;
    padding: 20px 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    width: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
