.button {
  // display: inline-block;
  padding: 14px 25px;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $roboto;
  font-weight: bold;

  font-size: 16px;
  line-height: 20px;

  cursor: pointer;

  &--action {
    background-color: $bg-blue;
    color: #ffffff;
    letter-spacing: 0.05em;
    border: none;
    white-space: nowrap;
    padding: 18px 50px;

    font-size: 16px;
    line-height: 19px;

    transition: background-color 0.2s ease;

    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $bg-blue;
    }

    &:active {
      opacity: 0.7;
    }

    @media (max-width: $tablet-width) {
      padding: 18px 15px;
    }
  }

  &--callback {
    border-color: #ffffff;
    border: 1px solid #ffffff;
    color: $white;
    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    &:hover,
    &:focus {
      background-color: $white;
      color: $bg-dark;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--about {
    border-color: #ffffff;
    border: 1px solid $bg-blue;
    color: $bg-blue;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    min-width: 180px;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      background-color: $bg-blue;
      color: $white;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
