.contacts {
  border: 1px solid red;
  background-color: $white;
  padding: 70px 120px;
  padding-bottom: 0;
  color: $blue-dark;
  width: 50%;
  border-top: 1px solid #74819c;

  @media (max-width: $tablet-width) {
    padding: 70px 133px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 20px;
  }
}

.contacts__headline {
  margin: 0;
  margin-bottom: 20px;
  font-family: $bebas-bold;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 130px;

  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    max-height: 150px;
  }

  @media (max-width: $mobile-width) {
    max-height: none;
  }
}


.contacts__list-item {
  display: flex;
  flex-direction: column;
  height: 60px;

  padding: 0 60px;

  font-family: $roboto-bold;
  font-size: 16px;
  line-height: 24px;

  &:nth-child(-n + 2) {
    border-right: 1px solid #b8b8b8;
    padding-left: 0;

    @media (max-width: $mobile-width) {
      border: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 50px;
    font-size: 20px;
    line-height: 30px;

    height: 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 280px;
    margin: 0 auto;
  }
}

.contacts__list-item a {
  display: block;
  flex-direction: column;

  text-decoration: none;
  color: inherit;

  font-family: $roboto;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }
}
