.contacts {
  background-color: $bg-blue;
  // padding: 100px 150px;
  padding-bottom: 115px;
  color: $white;
  width: 50%;

  @media (max-width: $tablet-width) {
    padding: 53px 25px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 20px;
  }
}

.contacts__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 570px;


  @media (max-width: $tablet-width) {
    width: 590px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.contacts__container h2 {
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  font-family: $roboto;
  white-space: nowrap;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    white-space: normal;
  }
}

.contacts__container p {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
}

.contacts__img-container {
  width: 50%;
  height: 200px;
  margin-left: -100px;
  margin-right: 100px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
