.contacts {
  background-color: $white;
  padding: 60px 120px;
  padding-bottom: 0;
  color: $blue-dark;
  width: 50%;
  border-top: 1px solid #74819c;

  @media (max-width: $tablet-width) {
    padding: 70px 133px;
    padding-bottom: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 20px;
  }
}

.contacts__headline {
  margin: 0;
  margin-bottom: 40px;
  font-family: $bebas-bold;
  font-weight: normal;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  // max-width: 50%;

  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    height: 150px;
  }

  @media (max-width: $mobile-width) {
    height: auto;
  }
}

.contacts__list-item {
  display: flex;
  flex-direction: column;
  height: 50px;

  padding: 0 60px 60px;

  font-family: $roboto-bold;
  font-size: 16px;
  line-height: 24px;

  &:nth-child(-n + 2) {
    border-right: 1px solid #b8b8b8;
    padding-left: 0;

    @media (max-width: $mobile-width) {
      border: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 50px;
    font-size: 20px;
    line-height: 30px;

    min-height: 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.contacts__list-item a {
  display: block;
  flex-direction: column;

  text-decoration: none;
  color: inherit;

  font-family: $roboto;
  font-size: 14px;
  line-height: 25px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }
}
