.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input {
  width: 270px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 30px;
  color: $white;
  border-bottom: 1px solid #74819c;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

  @include placeholder {
    color: $white;
    opacity: 1;
  }

  &:focus {
    @include placeholder {
      // color: red;
      opacity: 0.1;
    }
  }
}

.form input[type="text"] + label,
.form input[type="tel"] + label,
.form textarea + label {
  @include visually-hidden;
}

.form input[type="text"] {
  width: 47%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form input[type="tel"] {
  width: 47%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form__container--modal input {
  width: auto;
  margin-bottom: 30px;
}

.form button[type="submit"] {
  padding: 14px 25px;
  width: 100%;
  background-color: transparent;
  border: 3px solid #ffffff;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $roboto-bold;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  transition: all 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue-dark;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
