.gym {
  padding-bottom: 120px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 65px;
  }
}

.gym__wrapper {
  position: relative;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: stretch;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.gym__description-wrapper {
  min-height: 310px;
  padding: 45px 80px 0 60px;
  max-width: 500px;

  @media (max-width: $tablet-width) {
    min-width: auto;
    padding: 0;
    min-height: auto;
    text-align: center;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    min-height: auto;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
  }
}

.gym__description-wrapper h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: $bebas-bold;
  font-weight: normal;
  color: $blue-dark;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 49px;
  line-height: 49px;

  @media (max-width: $tablet-width) {
    margin-bottom: 8px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 32px;
  }
}

.gym__description-wrapper h3 {
  margin: 0;
  margin-bottom: 35px;
  font-family: $roboto;
  font-weight: normal;
  color: $blue-dark;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.gym__description-wrapper p {
  min-width: 355px;
  margin: 0;
  margin-bottom: 10px;
  font-family: $roboto-light;
  font-size: 16px;
  line-height: 24px;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    min-width: auto;
    max-width: 502px;
    display: none;

    &:first-of-type {
      display: block;
    }
  }
}

.gym__image {
  width: 660px;
  height: 400px;

  @media (max-width: $tablet-width) {
    width: 678px;
    height: 345px;
    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    height: 313px;
    overflow: hidden;
  }
}

.gym__video-thumb {
  position: relative;
  display: block;
  margin-left: calc(50% - 140px);
  margin-top: -110px;
  width: 364px;
  height: 228px;
  z-index: 2;
  background-image: url("../img/gym-video.png");
  background-size: cover;
  background-position: center;

  &::before {
    top: 0;
    left: 0;
    z-index: 0;
    content: "";
    position: absolute;
    background-color: rgba(20, 54, 122, 0.5);
    background-image: url("../img/ring.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-top: -85px;
    width: 266px;
    height: 167px;

    &::before {
      background-size: 73px 73px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
    width: 100%;
  }
}

.gym__video-button {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(224.89deg, #003d85 25.38%, #b80027 74.89%);
  left: calc(50% - 36px);
  top: calc(50% - 36px);
  transition: all ease 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 1px #b80027;
  }

  &:active {
    box-shadow: 0 0 20px 5px #b80027;
  }

  @media (max-width: $tablet-width) {
    width: 52px;
    height: 52px;
    left: calc(50% - 26px);
    top: calc(50% - 26px);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: calc(50% - 8px);
    left: calc(50% - 3px);
    border-left: 14px solid $white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    @media (max-width: $tablet-width) {
      top: calc(50% - 8px);
      left: calc(50% - 4px);
    }
  }
}
