.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;

  @media (max-width: $tablet-width) {
    // flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 135px;
  }
}

.links__item {
  display: flex;
  margin-right: 40px;
  margin-left: 10px;
  justify-content: space-around;

  font-family: $roboto;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    height: 40px;
    margin-left: 0;
    margin-right: 80px;

    font-size: 16px;
    line-height: 19px;

    &:first-of-type {
      padding-top: 40px;
    }
  }
}

.links__link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
