.main {
  background: linear-gradient(45deg, #003d85, #b80027 70%);
  min-height: 658px;
  color: $white;
  padding: 0 50px;
  margin-bottom: 80px;
  padding-top: 50px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
    padding-top: 82px;
    margin-bottom: 90px;
    min-height: 554px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    padding-top: 100px;
    margin-bottom: 70px;
    min-height: 490px;
  }
}

.main__content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 556px;


  @media (max-width: $tablet-width) {
    min-height: 390px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: center;
    min-height: auto;
  }
}

.main__desc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin: 0;
  padding-right: 65px;
  padding-bottom: 65px;
  width: 40%;
  height: 556px;


  &::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    width: 500px;
    height: 556px;
    background-image: url("../img/superman@1x.png");
    background-position: center;
    background-size: cover;

    @media only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../img/superman@2x.png");
    }
  }


  @media (max-width: $tablet-width) {

    width: 50%;
    height: 390px;

    padding-right: 10px;
    padding-bottom: 30px;

    &::after {
      left: auto;
      right: -340px;
      top: 0;
      width: 324px;
      height: 390px;
    }

    &::before {
      left: 500px;
      top: -160px;
      width: 500px;
      height: 500px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0;

    &::after {
      display: none;
    }

    &::before {
      left: 200px;
      top: -100px;
      width: 480px;
      height: 480px;
    }
  }
}

.main__desc-town {
  font-size: 49px;
  line-height: 49px;
  font-family: $bebas;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media (max-width: $tablet-width) {
    font-size: 34px;
    line-height: 34px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.main__headline {
  position: relative;
  font-family: $bebas-bold;
  font-size: 109px;
  line-height: 109px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  margin-bottom: 50px;
  z-index: 1;


  @media (max-width: $tablet-width) {
    font-size: 86px;
    line-height: 86px;
    margin-left: 60px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    font-size: 78px;
    line-height: 78px;
    margin: 0;
    margin-bottom: 50px;
  }
}

.main__desc {
  position: absolute;

  bottom: 205px;
  right: 320px;
  width: 115px;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-left: 120px;

    bottom: 145px;
    right: 220px;
  }

  @media (max-width: $mobile-width) {

    margin-left: 50px;
    bottom: 200px;
    right: 170px;
  }
}

.main__action {
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.main__main-image {
  margin-right: -70px;

  @media (max-width: $tablet-width) {
    position: relative;
    width: 465px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    align-self: center;
    margin: 0;
    left: 20px;
    width: 301px;
    height: 220px;
  }
}

.main__social-list {
  align-self: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__social-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $blue-dark;
  }

  &:active {
    opacity: 0.7;
  }
}
