.page-header {
  position: absolute;
  color: $white;
  padding: 0 50px;
  width: 100%;


  @media (max-width: $tablet-width) {
    padding: 0 25px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

.page-header__wrapper {
  max-width: 1410px;
  margin: 0 auto;
}

.page-header__nav-wrapper {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 170px;
}

.page-header__logo {
  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.page-header__logo-link {
  align-self: flex-start;
}

.page-header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex-wrap: wrap;
}

.page-header__nav-item {
  display: flex;
  justify-content: flex-end;
  align-self: center;

  white-space: nowrap;
  margin-left: 60px;

  @media (max-width: $tablet-width) {
    flex-grow: 0;
    margin-left: 20px;

    &:hover,
    &:focus {
      cursor: pointer;

      & svg {
        fill: $white;
      }
    }
  }
}

.page-header__nav-item-text {
  margin-left: 10px;

  &:hover,
  &:focus {
    color: $text-footer;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.page-header__callback {
  margin-left: 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__pic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  fill: #00b2ff;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.page-header__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  transition: all 0.2s ease;
  z-index: 1;
}
