.page-footer {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  background-color: #030a1a;
  font-size: 15px;
  line-height: 25px;
  padding: 45px;
  color: $white;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 15px;
  }
}

.page-footer__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media (max-width: $mobile-width) {

    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo {
  display: block;
  width: 90px;
  height: 20px;

  @media (max-width: $tablet-width) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    width: 68px;
    height: 15px;
    text-align: left;
  }
}

.page-footer__logo-link {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    // margin-bottom: 26px;
  }
}

.page-footer__headline {
  margin: 0;
  margin-bottom: 25px;
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $bg-dark;

  @media (max-width: $mobile-width) {
    // margin: 0;
  }
}
