.page-header {
  position: absolute;
  color: $white;
  padding: 0 50px;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 170px;
  max-width: 1160px;
  margin: 0 auto;
}

.page-header__logo {
  width: 89px;
  height: 20px;

  @media (max-width: $tablet-width) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $mobile-width) {
    width: 68px;
    height: 15px;
  }
}

.page-header__link {
  text-decoration: none;
  font-family: $bebas-bold;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: inherit;
  transition: all 0.2s ease;
  z-index: 1;

  &:hover {
    text-decoration: underline;
    opacity: 0.9;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
