.products {
  background-color: $bg-dark;
  padding: 93px 150px;
  padding-bottom: 130px;

  @media (max-width: $tablet-width) {
    padding: 53px 25px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 20px;
    padding-bottom: 65px;
  }
}

.products__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.products__headline {
  margin: 0;
  margin-bottom: 45px;
  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.products__list {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;
  }
}

.products__item {
  position: relative;
  transition: all 0.3s ease;
  font-size: 0;
  margin-bottom: 30px;
  width: 30%;
  height: 620px;
  overflow: hidden;
  background-color: #26353d;

  @media (max-width: $tablet-width) {
    flex-grow: 0;
    width: 100%;
    height: 256px;
  }

  @media (max-width: $mobile-width) {
    // height: 256px;
  }
}

.products__item img {
  transition: all 0.3s ease;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__link {
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $white;
  position: relative;

  &:hover img {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    background-color: $bg-blue;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    bottom: 26px;
    right: 27px;
    border: 1px solid $white;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
    z-index: 1;
  }
}

.products__link span {
  position: absolute;
  display: block;
  margin: 55px 45px;
  max-width: 170px;

  text-shadow: 2px 2px 2px #000000;
  font-family: $roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;

  @media (max-width: $mobile-width) {
    margin: 25px 35px;
  }
}
