.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 112px;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
   margin-right: -10px;
  }

  @media (max-width: $mobile-width) {
    min-width: 150px;
    margin: 0;
  }
}

.social__link {
  & svg {
    fill: #cdcdcd;
    vertical-align: middle;
    transition: fill 0.3s ease;
  }

  &:hover svg,
  &:focus svg {
    fill: $bg-blue;
    opacity: 0.7;
  }

  &:active svg {
    opacity: 1;
  }
}
