.subscriptions {
  background-color: $bg-gray;
  padding: 115px 100px;
  padding-bottom: 116px;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding: 100px 160px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 15px;
    padding-bottom: 35px;
    margin-bottom: 70px;
  }
}

.subscriptions__wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.subscriptions__headline {
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
  font-family: $bebas-bold;
  font-weight: normal;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.subscriptions__toggler {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 340px;

  border-bottom: 2px solid $border-gray;

  @media (max-width: $tablet-width) {
    width: 332px;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    margin-bottom: 35px;
  }
}

.subscriptions__toggler-item {
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
  bottom: -2px;
  border-bottom: 2px solid transparent;

  font-size: 20px;
  line-height: 30px;
  color: #8893aa;

  &:hover,
  &:focus {
    border-bottom: 2px solid red;
    color: $blue-dark;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 24px;
  }

  &--active {
    border-bottom: 2px solid red;
    color: $blue-dark;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.subscriptions__list {
  position: relative;
  max-width: 1160px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 0;
  // overflow: hidden;

  &--active {
    display: flex;
  }

  &::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    bottom: -270px;
    right: -300px;
    background-image: url("../img/weight@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;

    &::after {
      width: 450px;
      height: 450px;
      bottom: -185px;
      right: -255px;
    }
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;

    &::after {
      display: none;
    }
  }
}

.subscriptions__item {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  padding-top: 50px;
  width: 31%;
  min-height: 448px;
  border: 5px solid transparent;
  background-color: $white;
  z-index: 10;

  &:hover,
  &:focus {
    border-image: linear-gradient(112deg, $red 17%, $blue-light 96%) 10;
    color: $blue-dark;
  }

  @media (max-width: $tablet-width) {
    flex-grow: 0;
    width: 100%;
    height: 256px;
    margin-bottom: 40px;
    padding-top: 55px;
  }

  @media (max-width: $mobile-width) {
    height: 384px;
    min-height: 384px;
    padding-top: 45px;
    margin-bottom: 35px;
  }
}

.subscriptions__item h3 {
  font-family: $roboto-bold;
  font-size: 26px;
  line-height: 40px;
  color: $blue-dark;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 24px;
  }
}

.subscriptions__item h4 {
  font-family: $roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $blue-gray;
  margin: 0;
  margin-bottom: 65px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.subscriptions p {
  position: relative;
  margin: 0;
  max-width: 170px;

  margin-bottom: 32px;

  font-family: $roboto-bold;
  font-size: 60px;
  line-height: 90px;
  white-space: nowrap;
  color: $blue;
  z-index: 1;

  &::before {
    content: attr(data-value);
    position: absolute;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    left: -20px;
    bottom: -5px;
    z-index: -1;
  }

  @media (max-width: $mobile-width) {
    margin: 27px 35px;

    font-size: 48px;
    line-height: 72px;

    &::before {
      font-size: 80px;
      line-height: 120px;
      left: -15px;
      bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 33px;
      top: 20px;
      right: -35px;
      background-image: url("../img/rouble.svg");
      background-size: contain;
    }
  }
}

.subscriptions span {
  color: $blue-dark;
  font-family: $roboto;
}
