.trainers {
  // position: relative;
  // border: 2px solid red;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 240px;

  @media (max-width: $tablet-width) {
    margin: 0 45px;
    margin-bottom: 200px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 15px;
    margin-bottom: 140px;
  }
}

.trainers__slider {
  position: relative;
}

.trainers__headline {
  font-family: $bebas-bold;
  font-size: 49px;
  line-height: 49px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: $blue-dark;

  @media (max-width: $tablet-width) {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.trainers__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin: 0 45px;
    max-width: 630px;
  }


  @media (max-width: $mobile-width) {
    max-width: 226px;
    
    
  }
}

.trainers__list {
  list-style: none;
  margin: 0; 
}

.trainers__list-item {
  margin-right: 50px; 

}

