@font-face {
  font-family: "BebasNeue-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "BebasNeue-Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/BebasNeue-Bold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed.woff2") format("woff2"), url("../fonts/RobotoCondensed.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
