//colors
$white: #ffffff;
$red: #ed0233;
$crimson: #b80027;
$blue-dark: #102654;

//fonts
$bebas: "BebasNeue-Regular", "Arial", sans-serif;
$bebas-bold: "BebasNeue-Bold", "Arial", sans-serif;
$roboto: "RobotoCondensed", "Arial", sans-serif;
$roboto-light: "RobotoCondensed-Light", "Arial", sans-serif;
$roboto-bold: "RobotoCondensed-Bold", "Arial", sans-serif;

//break points
$tablet-width: 1199px;
$mobile-width: 767px;

//trash
$white-two: #f2f2f2;
$leaf: #68b738;
$pinkish-grey: #cdcdcd;
$gray-headline: #444444;
$greyish-30-brown: rgba(68, 68, 68, 0.3);
$black-60-two: rgba(17, 17, 17, 0.6);
$black-30-two: rgba(17, 17, 17, 0.3);
$white-60-three: rgba(255, 255, 255, 0.6);
$white-30-three: rgba(255, 255, 255, 0.3);

$text-footer: #8d969b;

$gray-line: #c4c4c4;

$bg-dark: #1b2d37;
$bg-blue: #00b2ff;
$bg-gray: #e5e5e5;
$gray-light: #ebebeb;
$bg-white: #fafafa;


